{% extends "base.html" %}
{% block content %}
    
    <h3 class="deep-orange-text text-darken-3 center-align">All Tasks</h3>

    <ul class="collapsible">
    {% for task in tasks %}
    <li>
      <div class="collapsible-header white-text deep-orange darken-3"><i class="fas fa-caret-down"></i>
      <strong>{{ task.task_name }} </strong> : {{ task.due_date }}
      {% if task.is_urgent == "on" %}
      <i class="fas fa-exclamation-circle tooltipped" data-position="right" data-tooltip="Urgent!!!"></i>
      {% endif %}
      </div>
      <div class="collapsible-body">
      <strong>{{ task.category_name }}</strong>
      <p>{{ task.task_description }}</p>
      <p><em>by: {{ task.created_by }}</em></p>
      </div>
    </li>
    {% endfor %}
{% endblock %}

<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>